.page{
    display:grid;
    grid-template-areas: "header header"
    "aside main"
    "aside  ads"
    "aside footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr;
    column-gap:20px;
     min-height: 700px;
     max-width:300px;
     
}
header{
    grid-area:header;
    background-color:rgb(0, 0, 255);
    text-align: center;
}
aside{
    grid-area:aside;
    background-color: rgb(87, 87, 100);
}
main{
    grid-area:main;
    background-color: brown;
}
.ads{
    grid-area:ads;
    background-color: aquamarine;
}
footer{
    grid-area:footer;
    background-color: blueviolet;
}